html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    position: relative;

    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #ffffff;

    background-color: #849d8f;
    z-index: -1;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);

    border: 0;
    overflow: hidden;
    white-space: nowrap;
}

.site-wrapper {
    margin: 0;
    padding: 0;
    min-width: 1045px;
    background-color: #849d8f;
    background-image: url(../img/slide_1.png);
    background-repeat: no-repeat;
    background-position: top center;

    transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
    content: "";
    visibility: hidden;
}

.site-wrapper::before {
    background-image: url(../img/Slide_2.png);
}

.site-wrapper::after {
    background-image: url(../img/Slide_3.png);
}

.slider {
    position: relative;
    padding-top: 357px;
    text-align: center;
    margin-bottom: 40px;
}

.slider-list {
    margin: 0;
    padding: 0;
}

.slide-title {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 26px;

    font-size: 59.5px;
    font-weight: 700;
    line-height: 59.5px;
}

.slider-controls {
    position: absolute;
    bottom: 21px;
    left: 0;
    z-index: 1;

    font-size: 0;
}

.slide {
    display: none;
}

.slider-controls label {
    display: inline-block;
    width: 21px;
    height: 21px;
    margin-right: 8px;

    vertical-align: top;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;

    cursor: pointer;
}

#product-1:checked~.site-wrapper {
    background-color: #849d8f;
    background-image: url(../img/slide_1.png);
}

#product-2:checked~.site-wrapper {
    background-color: #8996a6;
    background-image: url(../img/slide_2.png);
}

#product-3:checked~.site-wrapper {
    background-color: #9d8b84;
    background-image: url(../img/slide_3.png);
}

#product-1:checked~.site-wrapper #slide1,
#product-2:checked~.site-wrapper #slide2,
#product-3:checked~.site-wrapper #slide3 {
    display: block;
}

#product-1:checked~.site-wrapper label[for="product-1"],
#product-2:checked~.site-wrapper label[for="product-2"],
#product-3:checked~.site-wrapper label[for="product-3"] {
    background-color: #ffffff;
}

#product-1:hover~.site-wrapper label[for="product-1"],
#product-2:hover~.site-wrapper label[for="product-2"],
#product-3:hover~.site-wrapper label[for="product-3"] {
    background-color: rgba(248, 247, 244, 0.4);
}

.container {
    margin: 0 auto;
    padding: 0 27px;
    max-width: 1200px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*   общие стили для кнопок   */

.button {
    display: inline-block;
    border: none;
    vertical-align: middle;
    text-align: center;
    border-radius: 25px;
    padding: 10px 24px;

    color: #fefefe;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;

    background-color: #e84d37;
    background-image: linear-gradient(0deg, #e74a35 0%, #f26843 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);

    cursor: pointer;
}

.button:hover,
.button:focus {
    box-shadow: 0px 1px 2px 0 #ac1000;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
        linear-gradient(to top, #e74a35, #f26843);
}

.button:active {
    color: rgb(252, 238, 236);
    box-shadow: inset 0px 2px 2px 0 #942718;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
        linear-gradient(to top, #e74a35, #f26843);
}

.slide-button {
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    font-size: 32px;
    font-weight: bold;
    line-height: 44px;
    padding: 10px 42px;
    border-radius: 50px;
}

/*   Стили полей ввода   */

input,
textarea {
    font: inherit;
    border: solid 1px rgba(178, 178, 178, 0.52);
    background-color: #ffffff;
    border-radius: 5px;
    padding: 9px 15px 10px;
    width: 100%;
    margin-bottom: 20px;

    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}

input::placeholder,
textarea::placeholder {
    font-weight: 400;
    color: #999999;
    opacity: 1;
}

input:hover {
    border: solid 1px rgba(154, 154, 154, 0.52);
    box-shadow: inset 0 0 0 1px rgba(154, 154, 154, 0.52);
}

input:focus {
    border: solid 1px rgba(46, 136, 228, 0.52);
    box-shadow: inset 0 0 0 1px rgba(46, 136, 228, 0.52);
}

/*   HEADER   */

.main-navigation {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 10px;
    margin-bottom: 3px;
}

.site-navigation {
    margin: 0;
    padding: 0;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
}

.site-navigation-submenu {
    position: relative;
}

.site-navigation-logo {
    width: 154px;
    height: 64px;
    margin-right: 10px;
}

.site-navigation-link {
    display: block;
    border-radius: 16px;
    padding: 7px 14px;

    font-weight: 700;
    line-height: 18px;
    text-align: left;
    color: #ffffff;
}

.site-navigation-link::after {
    content: "";
    display: block;

    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
}

.site-navigation-link:hover,
.site-navigation-link:focus {
    color: #333333;
    background-color: #f7f6f3;
    transition: 0.2s ease;
}

.site-navigation-link:active {
    box-shadow: inset 0px 2px 1px 0 #696969;
    background-color: #ededed;
}

.site-navigation-current,
.site-navigation-current>a:hover,
.site-navigation-current>a:focus,
.site-navigation-current>a:active {
    color: #ffffff;
    background-color: rgb(208, 112, 88);
    border-radius: 16px;
}

.site-navigation-current .site-navigation-link::after {
    display: none;
}

.submenu {
    margin: 0;
    display: none;
    position: absolute;
    top: 38px;
    left: 0px;
    width: 145px;

    padding: 5px 0;
    border-radius: 5px;
    background-color: #f8f7f4;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.submenu::before {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 5px;
    content: "";
}

.submenu-item {
    position: relative;
}

.submenu-link {
    display: block;
    color: #323232;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    padding: 8px 20px;
}

.submenu-item:first-child .submenu-link {
    font-weight: 700;
}

.submenu-item:first-child::after {
    content: "";

    display: block;
    margin: 3px auto;

    height: 1px;
    width: 128px;
    background-color: rgba(0, 0, 0, 0.2);
}

.submenu-link:hover {
    background-color: #fbded7;
}

.submenu-link:active {
    background-color: #f6b5a5;
}

.submenu-link-current,
.submenu-link-current:hover,
.submenu-link-current:focus,
.submenu-link-current:active {
    color: #ffffff;
    background-color: #d07058;
}

.site-navigation-submenu:hover .submenu {
    display: block;
}

.user-navigation {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    width: 360px;
    margin-left: auto;
}

.user-navigation li {
    margin-right: 9px;
}

.user-navigation-link {
    display: block;
    border-radius: 16px;

    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: right;
    color: #ffffff;

    background-color: rgba(255, 255, 255, 0.2);
}

.user-navigation li:last-child {
    margin-right: 0;
}

.search-item,
.entrance-item,
.basket-item {
    position: relative;
}

.search-link {
    font-size: 0;
    background-color: rgba(255, 255, 255, 0.2);
    width: 33px;
    height: 33px;
    border-radius: 50%;
}

.search-link::after {
    position: absolute;
    content: "";
    top: 8px;
    left: 8px;
    width: 17px;
    height: 17px;
    background-image: url(../svg/loupe.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.search-link:hover::after,
.search-link:focus::after,
.search-link:active::after {
    background-image: url(../svg/loupe-black.svg);
}

.search-item:hover .modal-search {
    visibility: visible;
}

.entrance-link,
.basket-link {
    position: relative;
    padding: 8px 14px 8px 42px;
}

.entrance-link::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 14px;
    width: 21px;
    height: 20px;
    background-image: url(../svg/entrance-white.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.entrance-link:hover::before,
.entrance-link:focus::before,
.entrance-link:active::before {
    background-image: url(../svg/entrance.svg);
}

.entrance-item:hover .modal-login,
.entrance-item:focus .modal-login {
    visibility: visible;
}

.basket-item {
    position: relative;
}

.modal-basket {
    display: none;
    position: absolute;
    margin: 0;
    top: 38px;
    right: 0;
    width: 540px;
    height: 242px;
    padding: 20px 16px;
    text-align: right;
    border-radius: 5px;
    background-color: #f8f7f4;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.modal-basket::before {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 5px;
    content: "";
}

.modal-basket-form {
    font-size: 13px;
    line-height: 16px;
    text-align: left;
    color: #323232;
}

.modal-basket-form td {
    padding: 0 14px 20px 0;
    vertical-align: top;
}

.modal-basket-form .basket-subtotal {
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    padding: 15px 0;
    text-align: right;
    border-top: 1px solid #999999;
}

.basket-link::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 14px;
    width: 21px;
    height: 20px;
    background-image: url(../svg/basket.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.basket-link:hover::before {
    background-image: url(../svg/basket-black.svg);
}

.basket-item-full {
    background-color: #f8f7f4;
    border-radius: 16px;
}

.basket-item-full .basket-link {
    color: #323232;
}

.basket-item-full .basket-link::before {
    background-image: url(../svg/basket-red.svg);
}

.basket-delete {
    width: 25px;
}

.delete-product {
    display: block;
    margin-top: 5px;
    background-image: url(../svg/cross-small.svg);
    width: 11px;
    height: 11px;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.basket-product-photo {
    width: 45px;
    border-radius: 50%;
}

.basket-name-product {
    width: 250px;
    padding: 0 14px;
}

.basket-quantity-product {
    width: 120px;
}

.basket-quantity-product span {
    color: #999999;
}

.amount-product {
    width: 75px;
    padding-left: 14px;
}

.basket-item-full:hover .modal-basket {
    display: block;
}

.user-navigation-link:hover,
.user-navigation-link:focus,
.user-navigation-link:active {
    color: #333333;
    background-color: #f7f6f3;
}

.worktime {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    text-align: right;
    margin-bottom: 8px;
}

.phone {
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-weight: bold;
    line-height: 24px;
    text-align: right;
}

/*  PROMO  */

.promo-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.promo-title {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;

    font-size: 35px;
    font-weight: bold;
    line-height: 41px;
    text-align: left;
}

.promo-item {
    width: 560px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    padding: 23px 20px;
    display: flex;
    flex-direction: column;
}

.raspberry {
    background-color: #6d202f;
    background-image: url(../img/Raspberry.jpg);
}

.chocolate {
    background-color: #4f3e32;
    background-image: url(../img/Chocolate.jpg);
}

.promo-text {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    margin-bottom: 45px;
}

.button-promo {
    align-self: flex-end;
}

/*   FEATURES   */

.features {
    margin: 0;

    color: #323232;
    background-color: #e4d8bf;
    background-image: url(../img/Waffle.jpg);
    background-repeat: repeat;
    background-position: 0 0;
    border-radius: 15px;
    padding: 27px 31px 25px 20px;
    margin-bottom: 40px;
}

.features-title {
    margin: 0;
    padding: 0;

    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
}

.features-list {
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.features-item {
    position: relative;
    width: 540px;

    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding-left: 56px;
    margin-top: 25px;
}

.features-item::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;

    width: 49px;
    height: 49px;
}

.ice-cream-item::before {
    background-image: url(../svg/ice-cream.svg);
}

.leaf-item::before {
    background-image: url(../svg/eco.svg);
}

.cow-item::before {
    background-image: url(../svg/cow.svg);
}

.term-item::before {
    background-image: url(../svg/thermometer.svg);
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.news {
    color: #323232;
    background-color: #ffffff;
    background-image: url(../img/Sherbet.jpg);
    width: 560px;
    background-size: cover;
    background-position: 0 0;
    border-radius: 15px;
    padding: 25px 20px;
}

.news-title {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
}

.news-link {
    display: block;
    width: 300px;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    color: #323232;
    text-decoration: underline;
}

.news-link:hover {
    color: #e84d37;
}

.subscription {
    background-color: #ffffff;
    background-image: url(../svg/subscribe-bg.svg);
    width: 560px;
    background-size: cover;
    background-position: 0 0;
    border-radius: 15px;
    padding: 5px;
}

.sub-wrapper {
    margin: 0;

    border-radius: 10px;
    background-color: #f8f7f4;
    padding: 35px 21px;

    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #5a5a5a;
}

.sub-text {
    margin: 0;
    padding: 0;
    margin-bottom: 38px;
}

.sub-form {
    display: flex;
    justify-content: space-between;
}

.sub-mail {
    max-width: 368px;
    margin-bottom: 0;
}

.button-subscription {
    display: block;
    padding: 10px 17px;
}

.container-contacts {
    padding: 0;
}

.contacts {
    width: 1200px;
    height: 430px;
    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    padding: 63px 27px;
}

.contact-legend {
    margin: 0;

    color: #323232;
    background-color: #ffffff;
    width: 302px;
    height: 305px;
    border-radius: 15px;
    padding: 30px 25px;
}

.contact-adress {
    margin-bottom: 21px;
}

.contact-legend p {
    margin: 0;
    margin-bottom: 3px;
}

.small-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.big-text {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    text-align: left;
}

.contact-phone {
    margin-bottom: 23px;
}

.button-feedback {
    width: 100%;
}

/*   INNER-PAGE   */

.inner-page {
    position: relative;
}

.inner-page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-width: 1200px;
    height: 655px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), transparent);
    z-index: -1;
}

.breadcrambs {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: flex-start;
    margin-bottom: 3px;
    margin-top: -25px;
}

.breadcrambs li {
    display: block;
    position: relative;
    margin-right: 20px;
}

.breadcrambs li:not(:last-child)::after {
    content: "»";
    position: absolute;
    top: 0;
    right: -14px;
}

.breadcrambs a {
    color: #ffffff;
}

.breadcrambs a:not(.breadcrambs-current):hover {
    color: #ffbc9e;
    border-bottom-color: rgba(255, 188, 158, .3);
}

.breadcrambs a:not(.breadcrambs-current) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.inner-page-title {
    margin: 0;
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
    text-align: left;
    margin-bottom: 30px;
}

.filters {
    max-width: 870px;
    margin-bottom: 34px;
}

.filter-form {
    display: flex;
    flex-wrap: wrap;

    align-items: flex-end;
}

.filter-form-item {
    margin: 0;
    padding: 0;
    margin-right: 14px;
    margin-bottom: 16px;
    border: none;
}

.filter-form-item:nth-child(3n) {
    margin-right: 0;
}

.type-filter {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    padding-left: 15px;
    margin-bottom: 7px;
}

.sort-filters {
    -moz-appearance: none;
    appearance: none;
    background-color: rgba(248, 247, 244, 0.2);
    display: flex;
    flex-wrap: wrap;
    min-width: 195px;
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    color: #ffffff;

    background-image: url(../svg/select-arrow.svg);
    background-repeat: no-repeat;
    background-position: 170px 15px;

}

.sort-filters option {
    font-size: 14px;
    line-height: 16px;

    color: #323232;
}

.sort-filters:hover,
.sort-filters:focus {
    color: #323232;
    background-image: url(../svg/select-arrow-dark.svg);
}

.sort-filters:focus {
    background-color: #f8f7f4;
}

.price-controls {
    margin: 0;
    padding: 0;
    width: 220px;
}

.price-controls {
    margin: 0;
    padding: 0;
    display: flex;
}

.price-controls .type-filter {
    margin-right: 10px;
}

.price-controls span {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.price-controls label {
    display: inline-block;

    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.price-controls input {
    color: inherit;
    font: inherit;
    margin: 0;
    padding: 0;
    width: 28px;
    background: none;
    border: none;
}

.range-controls {
    position: relative;

    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px 22px 15px;
    border-radius: 20px;
}

.range-controls .scale {

    width: 176px;
    height: 4px;
    background-color: rgba(248, 247, 244, 0.5);
}

.range-controls .bar {
    position: absolute;
    width: 45%;
    height: 4px;
    left: 27%;
    background-color: #f8f7f4;
}

.range-toggle {
    position: absolute;
    top: 6px;
    width: 20px;
    height: 20px;
    background: rgba(248, 247, 244, 0.1);
    border: 8px solid #f8f7f4;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.range-toggle-min {
    left: 20%;
}

.range-toggle-max {
    left: 70%;
}

/*   переключалки   */

.filter-form-item ul {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;

    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 18px;

    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
}

.filter-form-item .fat {
    width: 415px;
    padding: 8px 15px 8px;
}

.filter-form-item .supplement {
    width: 705px;
    padding: 8px 15px 9px;
}

.filter-options {
    padding-left: 32px;
}

.filter-options label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.filter-input+label::before {
    content: "";
    position: absolute;
    top: 0;
}

.filter-input-radio+label::before {
    left: -27px;

    width: 18px;
    height: 18px;

    border: 4px solid #ffffff;
    opacity: 0.7;
    border-radius: 50%;
}

.filter-input-radio:checked+label::after {
    content: "";
    position: absolute;
    top: 6px;
    left: -21px;
    width: 6px;
    height: 6px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
}

.filter-input-checkbox+label::before {
    width: 20px;
    height: 20px;

    left: -27px;
    background-image: url(../svg/checkbox-off.svg);
    background-repeat: no-repeat;
    background-position: 0 50%;
    opacity: 0.7;
}

.filter-input-checkbox:checked+label::before {
    content: "";
    position: absolute;
    top: 0;
    left: -27px;

    width: 23px;
    height: 20px;

    background-image: url(../svg/checkbox-on.svg);
    background-repeat: no-repeat;
    background-position: 0 50%;
}

.filter-input:hover+label::before,
.filter-input:focus+label::before {
    opacity: 1;
}

.filter-input:hover+label::after,
.filter-input:focus+label::after {
    background-color: #ffffff;
}

.filter-input:disabled+label::before {
    color: #ffffff;
    opacity: 0.4;
}

.button-filters {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    color: #ffffff;

    border: solid 2px #ffffff;
    background-color: rgba(255, 255, 255, 0.2);

    padding: 7px 30px 7px;
    border-radius: 20px;
}

.button-filters:hover,
.button-filters:focus {
    color: #323233;
    background-color: #ffffff;
}

.button-filters:active {
    color: #323232;
    box-shadow: inset 0px 2px 1px 0 #696969;
    background-color: #ededed;
    border: none;
}

/*  CATALOG  */

.catalog {
    margin-bottom: 10px;
}

.container-catalog {
    padding: 0 14px;
}

.product-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.product-item {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 293px;
    padding: 6px 14px 22px 13px;
    border-radius: 7px;

    margin-bottom: -38px;
}

.product-item:hover {
    z-index: 10;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    background-color: rgba(248, 247, 244, 0.2);
}

.hit-product::before {
    position: absolute;
    content: "";
    top: 6px;
    left: 13px;

    width: 61px;
    height: 61px;
    background-image: url(../svg/hit.svg);
}

.product-item:nth-child(4n) {
    margin-right: 0;
}

.product-title {
    margin: 0;
    padding: 0;

    width: 257px;

    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
}

.product-link {
    padding: 0;

    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.product-link:hover,
.product-link:focus,
.product-link:active {
    color: #ffbc9e;
    border-bottom-color: rgba(255, 188, 158, .3);
}

.product-photo {
    order: -1;
    position: relative;
    width: 267px;
    height: 267px;
    border-radius: 50%;
    margin-bottom: 13px;
}

.product-price {
    margin: 0;

    position: absolute;
    top: 210px;
    left: 13px;

    text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
}

.price-kilo {
    font-size: 30px;
}

.button-quickview {
    margin-top: auto;
    visibility: hidden;
}

.product-item:hover .button-quickview {
    visibility: visible;
}

.pagination {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    padding-top: 80px;
    padding-bottom: 30px;

    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.pagination-item {
    margin-right: 3px;
}

.pagination-item:last-child {
    margin-right: 0;
}

.pagination-link {
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 50%;

    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    padding: 4px;
}

.pagination-link:hover,
.pagination-link:focus {
    background-color: rgba(255, 255, 255, 0.2);
}

.current-pagination-link,
.current-pagination-link:hover {
    color: #323232;
    background-color: #ffffff;
}

.arrow-back,
.arrow-forward {
    position: relative;
}

.arrow-back::before {
    position: absolute;
    content: "";
    top: 8px;
    left: 10px;

    width: 10px;
    height: 10px;

    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    transform: rotate(-135deg);
}

.arrow-forward::before {
    position: absolute;
    content: "";
    top: 8px;
    left: 6px;

    width: 10px;
    height: 10px;

    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    transform: rotate(45deg);
}

.link-disabled,
.link-disabled:hover {
    opacity: 0.5;
    background-color: transparent;
}

/*   FOOTER   */

.main-footer .container {
    padding-top: 35px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icon-list {
    margin: 0;
    padding: 0;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}

.social-item {
    margin-right: 11px;
}

.social-link {
    display: block;

    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.5);
    width: 38px;
    height: 38px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}

.social-link-tw {
    background-image: url(../svg/twitter.svg);
}

.social-link-in {
    background-image: url(../svg/instagram.svg);
}

.social-link-fb {
    background-image: url(../svg/fb.svg);
}

.social-link-vk {
    background-image: url(../svg/vk.svg);
}

.social-link:hover {
    opacity: 1;
    border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-link:active {
    opacity: 0.5;
    border: 3px solid rgba(255, 255, 255, 0.7);
}

.footer-menu {
    margin: 0;
    padding: 0;

    width: 340px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.footer-menu-item {
    margin-bottom: 5px;
    margin-right: 20px;
    min-width: 135px;
}

.footer-menu-item:nth-child(2n) {
    margin-right: 0;
}

.footer-menu-link {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.favorite-link {
    position: relative;
    font-weight: 700;
}

.favorite-link::before {
    content: "";
    position: absolute;
    top: 2px;
    left: -22px;
    width: 15px;
    height: 13px;

    background-image: url(../svg/heart.svg);
}

.footer-menu-link:hover,
.footer-menu-link:focus,
.footer-menu-link:active {
    color: #ffbc9e;
    border-bottom-color: rgba(255, 188, 158, 0.3);
}

.favorite-link:hover::before,
.favorite-link:focus::before,
.favorite-link:active::before {
    background-image: url(../svg/heart-red.svg);
}

.copyright p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
}

.footer-copyright-logo {
    width: 107px;
    height: 38px;
    margin-bottom: 7px;
}

.footer-copyright-logo:hover,
.footer-copyright-logo:focus,
.footer-copyright-logo:active {
    opacity: 0.7;
}

.copyright-link {
    color: #fefefe;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.copyright-link:hover,
.copyright-link:focus,
.copyright-link:active {
    color: #ffbc9e;
    border-bottom-color: rgba(255, 188, 158, 0.3);
}

/*   POPUP   */

.modal {
    position: absolute;
    color: #323232;
    background-color: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.modal p {
    margin: 0;
}

.modal-search {
    visibility: hidden;
    top: 38px;
    right: 0;
    width: 341px;
    height: 84px;
    padding: 20px 15px;
    z-index: 10;
}

.modal-search::before,
.modal-login::before {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 5px;
    content: "";
}

.modal-login {
    visibility: hidden;
    position: absolute;
    top: 38px;
    right: 0;
    width: 277px;
    height: 214px;
    padding: 19px 18px 22px 18px;
    z-index: 10;
}

.login-entrance {
    display: flex;
    justify-content: space-between;
}

.login-password-info {
    padding: 0;
    max-width: 120px;
}

.login-password-info a {
    color: #323232;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    border-bottom: 1px solid #323232;
}

.login-password-info a:hover {
    color: #e84d37;
    border-color: #e84d37;
}

.feedback-overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.modal-feedback {
    visibility: hidden;
    position: fixed;
    top: 337px;
    margin-left: -239px;
    left: 50%;
    width: 478px;
    min-height: 443px;
    border-radius: 10px;
    padding: 25px;

    z-index: 3;
}

.modal-description {
    margin: 0;
    margin-bottom: 21px;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
}

.modal-close {
    position: absolute;
    top: 16px;
    right: 17px;

    font-size: 0;
    border: 0;
    cursor: pointer;
}

.modal-close::before,
.modal-close::after {
    content: "";
    position: absolute;

    top: 7px;
    right: -2px;
    width: 20px;
    height: 3px;

    background-color: #000000;
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}

.name-user,
.you-mail {
    width: 267px;
}

.name-message {
    min-height: 155px;
    resize: vertical;
}

.button-feedback-form {
    display: block;
    margin-left: auto;
}