html {
    box-sizing: border-box;
}

body {
    position: relative;

    font-family: 'Roboto', 'Arial', sans-serif;
    background-color: #849d8f;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #ffffff;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);

    border: 0;
    overflow: hidden;
    white-space: nowrap;
}

.site-wrapper {
    min-width: 1045px;
    background-color: #849d8f;
    background-image: url(../img/slide_1.png);
    background-repeat: no-repeat;
    background-position: top center;

    transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
    content: "";
    visibility: hidden;
}

.site-wrapper::before {
    background-image: url(../img/Slide_2.png);
}

.site-wrapper::after {
    background-image: url(../img/Slide_3.png);
}

.slider {
    position: relative;
    padding-top: 357px;
    text-align: center;
    margin-bottom: 40px;
}

.slider-list {
    margin: 0;
    padding: 0;
}

.slide-title {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 26px;

    font-size: 59.5px;
    font-weight: 700;
    line-height: 59.5px;
}

.slider-controls {
    position: absolute;
    bottom: 21px;
    left: 0;
    z-index: 20;

    font-size: 0;
}

.slide {
    display: none;
}

.slider-controls label {
    display: inline-block;
    width: 21px;
    height: 21px;
    margin-right: 8px;

    vertical-align: top;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;

    cursor: pointer;
}

#product-1:checked~.site-wrapper {
    background-color: #849d8f;
    background-image: url(../img/slide_1.png);
}

#product-2:checked~.site-wrapper {
    background-color: #8996a6;
    background-image: url(../img/slide_2.png);
}

#product-3:checked~.site-wrapper {
    background-color: #9d8b84;
    background-image: url(../img/slide_3.png);
}

#product-1:checked~.site-wrapper #slide1,
#product-2:checked~.site-wrapper #slide2,
#product-3:checked~.site-wrapper #slide3 {
    display: block;
}

#product-1:checked~.site-wrapper label[for="product-1"],
#product-2:checked~.site-wrapper label[for="product-2"],
#product-3:checked~.site-wrapper label[for="product-3"] {
    background-color: #ffffff;
}

#product-1:hover~.site-wrapper label[for="product-1"],
#product-2:hover~.site-wrapper label[for="product-2"],
#product-3:hover~.site-wrapper label[for="product-3"] {
    background-color: rgba(248, 247, 244, 0.4);
}

.container {
    margin: 0 auto;
    padding: 0 27px;
    max-width: 1200px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*   общие стили для кнопок   */

.button {
    display: inline-block;
    border: none;
    vertical-align: middle;
    text-align: center;
    border-radius: 25px;
    padding: 10px 24px;

    color: #fefefe;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;

    background-color: #e84d37;
    background-image: linear-gradient(0deg, #e74a35 0%, #f26843 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);

    cursor: pointer;
}

.button:hover,
.button:focus {
    box-shadow: 0px 1px 2px 0 #ac1000;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
        linear-gradient(to top, #e74a35, #f26843);
}

.button:active {
    color: rgb(252, 238, 236);
    box-shadow: inset 0px 2px 2px 0 #942718;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
        linear-gradient(to top, #e74a35, #f26843);
}

.slide-button {
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    font-size: 32px;
    font-weight: bold;
    line-height: 44px;
    padding: 10px 42px;
    border-radius: 50px;
}

/*   Стили полей ввода   */

input,
textarea {
    font: inherit;
    border: solid 1px rgba(178, 178, 178, 0.52);
    background-color: #ffffff;
    border-radius: 5px;
    padding: 9px 15px 10px;
    width: 100%;
    margin-bottom: 20px;

    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}

input::placeholder,
textarea::placeholder {
    font-weight: 400;
    color: #999999;
}

input:hover {
    border: solid 2px rgba(154, 154, 154, 0.52);
}

input:focus {
    border: solid 2px rgba(46, 136, 228, 0.52);
}

/*   HEADER   */

/*
.main-header {
    margin-bottom: 20px;
}                                 */

.main-navigation {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 3px;
}

.site-navigation {
    margin: 0;
    padding: 0;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
}

.site-navigation-logo {
    width: 154px;
    height: 64px;
    margin-right: 10px;
}

.site-navigation-link {
    display: block;
    border-radius: 16px;
    padding: 7px 14px;

    font-weight: 700;
    line-height: 18px;
    text-align: left;
    color: #ffffff;
}

.site-navigation-link::after {
    content: "";
    display: block;

    height: 2px;
    background-color: rgba(255, 255, 255, 0.3);
}

.site-navigation-link:hover,
.site-navigation-link:focus {
    color: #333333;
    background-color: #f7f6f3;
    transition: 0.2s ease;
}

.site-navigation-link:active {
    box-shadow: inset 0px 2px 1px 0 #696969;
    background-color: #ededed;
}

.user-navigation {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    width: 360px;
    margin-left: auto;
}

.user-navigation li {
    margin-right: 9px;
}

.user-navigation-link {
    display: block;
    border-radius: 16px;

    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: right;
    color: #ffffff;

    background-color: rgba(255, 255, 255, 0.2);
}

.user-navigation li:last-child {
    margin-right: 0;
}

.search-link {
    position: relative;
    font-size: 0;
    background-color: rgba(255, 255, 255, 0.2);
    width: 33px;
    height: 33px;
    border-radius: 50%;
}

.search-link::after {
    position: absolute;
    content: "";
    top: 8px;
    left: 8px;
    width: 17px;
    height: 17px;
    background-image: url(../svg/loupe.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.search-link:hover::after {
    background-image: url(../svg/loupe-black.svg);
}

.entrance-link,
.basket-link {
    position: relative;
    padding: 8px 14px 8px 42px;
}

.entrance-link::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 14px;
    width: 19px;
    height: 20px;
    background-image: url(../svg/entrance-white.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.entrance-link:hover::before {
    background-image: url(../svg/entrance.svg);
}

.basket-link::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 14px;
    width: 19px;
    height: 20px;
    background-image: url(../svg/basket.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.basket-link:hover::before {
    background-image: url(../svg/basket-black.svg);
}

.user-navigation-link:hover,
.user-navigation-link:focus,
.user-navigation-link:active {
    color: #333333;
    background-color: #f7f6f3;
}

.worktime {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    text-align: right;
    margin-bottom: 8px;
}

.phone {
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-weight: bold;
    line-height: 24px;
    text-align: right;
}

/*  PROMO  */

.promo-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.promo-title {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;

    font-size: 35px;
    font-weight: bold;
    line-height: 41px;
    text-align: left;
}

.promo-item {
    width: 560px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    padding: 23px 20px;
    display: flex;
    flex-direction: column;
}

.raspberry {
    background-color: #6d202f;
    background-image: url(../img/Raspberry.jpg);
}

.chocolate {
    background-color: #4f3e32;
    background-image: url(../img/Chocolate.jpg);
}

.promo-text {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    margin-bottom: 45px;
}

.button-promo {
    align-self: flex-end;
}

/*  CATALOG  */

.catalog {
    margin-bottom: 10px;
}

.product-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.product-item {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 267px;
    margin-right: 20px;
    margin-bottom: -38px;
}

.hit-product::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;

    width: 61px;
    height: 61px;
    background-image: url(../svg/hit.svg);

}

.product-item:nth-child(4n) {
    margin-right: 0;
}

.product-title {
    margin: 0;
    padding: 0;

    width: 257px;

    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
}

.product-link {
    padding: 0;

    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.product-photo {
    order: -1;
    position: relative;
    width: 267px;
    height: 267px;
    border-radius: 50%;
    margin-bottom: 13px;
}

.product-price {
    margin: 0;

    position: absolute;
    top: 210px;
    left: 0;

    text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
}

.price-kilo {
    font-size: 30px;
}

.button-quickview {

    visibility: hidden;
}

/*   FEATURES   */

.features {
    margin: 0;
    

    color: #323232;
    background-color: #e4d8bf;
    background-image: url(../img/Waffle.jpg);
    background-repeat: repeat;
    background-position: 0 0;
    border-radius: 15px;
    padding: 27px 31px 25px 20px;
    margin-bottom: 40px;
}

.features-title {
    margin: 0;
    padding: 0;

    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;

}

.features-list {
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.features-item {
    position: relative;
    width: 540px;

    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding-left: 56px;
    margin-top: 25px;
}

.features-item::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;

    width: 49px;
    height: 49px;
}

.ice-cream-item::before {
    background-image: url(../svg/ice-cream.svg);
}

.leaf-item::before {
    background-image: url(../svg/eco.svg);
}

.cow-item::before {
    background-image: url(../svg/cow.svg);
}

.term-item::before {
    background-image: url(../svg/thermometer.svg);
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.news {
    color: #323232;
    background-color: #ffffff;
    background-image: url(../img/Sherbet.jpg);
    width: 560px;
    background-size: cover;
    background-position: 0 0;
    border-radius: 15px;
    padding: 25px 20px;
}

.news-title {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
}

.news-link {
    display: block;
    width: 300px;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    color: #323232;
    text-decoration: underline;
}

.news-link:hover {
    color: #e84d37;
}

.subscription {
    background-color: #ffffff;
    background-image: url(../svg/subscribe-bg.svg);
    width: 560px;
    background-size: cover;
    background-position: 0 0;
    border-radius: 15px;
    padding: 5px;
}

.sub-wrapper {
    margin: 0;
    
    border-radius: 10px;
    background-color: #f8f7f4;
    padding: 35px 21px;

    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #5a5a5a;
}

.sub-text {
    margin: 0;
    padding: 0;
    margin-bottom: 38px;
}

.button-subscription {
    margin-right: auto;
}

.container-contacts {
    padding: 0;
}

.contacts {
    width: 1200px;
    height: 430px;
    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    padding: 63px 27px;
}

.contact-legend {
    margin: 0;
    
    color: #323232;
    background-color: #ffffff;
    width: 302px;
    height: 305px;
    border-radius: 15px;
    padding: 30px 25px;
}

.contact-adress {
    margin-bottom: 21px;
}

.contact-legend p {
    margin: 0;
    margin-bottom: 3px;
}

.small-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.big-text {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    text-align: left;
}

.contact-phone {
    margin-bottom: 23px;
}

.button-feedback {
    width: 100%;
}

/*   FOOTER   */

.main-footer .container {
    padding-top: 35px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icon-list {
    margin: 0;
    padding: 0;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}

.social-item {
    margin-right: 11px;
}

.social-link {
    display: block;

    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.5);
    width: 38px;
    height: 38px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}

.social-link-tw {
    background-image: url(../svg/twitter.svg);
}

.social-link-in {
    background-image: url(../svg/instagram.svg);
}

.social-link-fb {
    background-image: url(../svg/fb.svg);
}

.social-link-vk {
    background-image: url(../svg/vk.svg);
}

.social-link:hover {
    opacity: 1;
    border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-link:active {
    opacity: 0.5;
    border: 3px solid rgba(255, 255, 255, 0.7);
}

.footer-menu {
    margin: 0;
    padding: 0;

    width: 340px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.footer-menu-item {
    margin-bottom: 5px;
    margin-right: 20px;
    min-width: 135px;
}

.footer-menu-item:nth-child(2n) {
    margin-right: 0;
}

.footer-menu-link {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.favorite-link {
    position: relative;
    font-weight: 700;
}

.favorite-link::before {
    content: "";
    position: absolute;
    top: 2px;
    left: -22px;
    width: 15px;
    height: 13px;

    background-image: url(../svg/heart.svg);
}

.footer-menu-link:hover,
.footer-menu-link:focus,
.footer-menu-link:active {
    color: #ffbc9e;
    border-bottom-color: rgba(255, 188, 158, 0.3);
}

.favorite-link:hover::before,
.favorite-link:focus::before,
.favorite-link:active::before {
    background-image: url(../svg/heart-red.svg);
}

.copyright p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
}

.footer-copyright-logo {
    width: 107px;
    height: 38px;
    margin-bottom: 7px;
}

.footer-copyright-logo:hover,
.footer-copyright-logo:focus,
.footer-copyright-logo:active {
    opacity: 0.7;
}

.copyright-link {
    color: #fefefe;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.copyright-link:hover,
.copyright-link:focus,
.copyright-link:active {
    color: #ffbc9e;
    border-bottom-color: rgba(255, 188, 158, 0.3);
}

/*   POPUP   */

.modal {
    visibility: hidden;

    position: absolute;
    color: #323232;
    background-color: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

}

.modal-search {
    top: 55px;
    left: 700px;
    width: 341px;
    height: 84px;
    padding: 20px 15px;
}

.modal-login {
    position: absolute;
    top: 55px;
    right: 200px;
    width: 277px;
    height: 214px;
    padding: 19px 17px 22px 19px;
}

.modal-feedback {
    position: fixed;
    top: 337px;
    margin-left: -239px;
    left: 50%;
    width: 478px;
    height: 443px;
    border-radius: 10px;
    padding: 25px;

}

.modal-description {
    margin: 0;
    margin-bottom: 21px;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;

}

.modal-close {
    position: absolute;
    top: 16px;
    right: 17px;

    font-size: 0;
    border: 0;
    cursor: pointer;
}

.modal-close::before,
.modal-close::after {
    content: "";
    position: absolute;

    top: 7px;
    right: -2px;
    width: 20px;
    height: 3px;

    background-color: #000000;
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}